#activities-for-review-table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
#activities-for-review-table thead th {
    min-width: 110px;
}
#activities-for-review-table sortable-header {
    cursor: pointer;
}

#filter-container {
    margin-left: 72%;
    margin-right: 3%;
    width: 25%;
    margin-top: 15px;
    margin-bottom: 30px;
}
#filter-container input {
    /* leave room for the search icon */
    display: inline-block;
    width: 92%;
    padding-right: 30px;
}
#filter-container .ion-search {
    position: relative;
    right: 28px;
    font-size: 17px;
    color: #879299;
    top: 1px;
}

p.no-activities-text {
    margin-top: 90px;
    font-weight: 500;
}
