

/* @override
	http://127.0.0.1:8000/static/css/export.css */


body {
    background: white;
}

/*project filter dropdown*/


.divider {
    margin-top: 20px !important;
    margin-bottom: 5px !important;
    display: block;
}

li.filter_list {
    white-space: nowrap;
    padding-left: 0;
    text-overflow: ellipsis;
    padding-bottom: 5px;
}

.datepicker_export {
    border-radius: 0px!important;
    text-align: left !important;
}

.filter_checkboxes ul {
    padding-left: 3px;
}

.filter_checkboxes ul li {
    color: #8a8e94;
    list-style: none;
}

label {
    font-weight: 400;
}

.filter_checkboxes {
    padding-top: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
}

.filter_checkboxes_status {
      height: 100px;
}

.missing_dates_checkboxes {
      height: 90px;
}

.checkbox_label {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}

.label_text {
    padding-left: 10px;
    color: #808889;
}


@media only screen and (max-width : 480px) {
    li.filter_list {
        white-space: nowrap;
        padding-left: 0;
        width: 40%;
        text-overflow: ellipsis;
        padding-bottom: 5px;
    }


}
